:root {
  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cayn: hsl(178, 100%, 50%);
  --mainBG-very-dark-blue: hsl(217, 54%, 11%);
  --cardBG-very-dark-blue: hsl(216, 50%, 16%);
  --lineBG-very-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Font Family */
  --ff-primary: "Outfit", sans-serif;

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  line-height: 1.1;
}

/* Main style */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  line-height: 1.5;
  background-color: var(--mainBG-very-dark-blue);
}

.card {
  display: grid;
  align-items: start;
  gap: 1rem;
  max-width: 22.365rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--white);
  background-color: var(--cardBG-very-dark-blue);
}

.view-card-link {
  position: relative;
}

.icon-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: hsla(178, 100%, 50%, 60%);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon-view:hover {
  opacity: 1;
}

.icon-view svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img {
  border-radius: 0.5rem;
}

.heading {
  margin-top: 0.4rem;
  font-weight: var(--fw-semi-bold);
}

.description {
  font-weight: var(--fw-light);
}

.description,
.time-left {
  color: var(--soft-blue);
}

.info {
  display: flex;
  justify-content: space-between;
}

.card-price,
.card-time-left {
  display: flex;
  align-items: center;
}

.price {
  color: var(--cayn);
}

.left-mg {
  margin-left: 0.8rem;
}

.line-break {
  height: 1px;
  background-color: var(--lineBG-very-dark-blue);
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.author-img {
  width: 2rem;
  margin-right: 1rem;
  border-radius: 100vw;
  border: 1px solid var(--white);
}

.card-heading:hover,
.author-name:hover {
  color: var(--cayn);
  cursor: pointer;
}

.author-create {
  color: var(--soft-blue);
}

.attribution {
  text-align: center;
  padding-block: 1rem;
  color: var(--white);
}

.attribution a {
  color: var(--soft-blue);
}
